# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Scientists
* List popular data libraries used by Data Scientists
* Provide a list of popular data science tools
* Provide example python arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. MatPlotLib
3. SciKitLearn

| Data Science Tools |
|--------------------|
| VSCode             |
| R Studio           |
| Jupyter            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
minutes / 60

3.3333333333333335

## Author
Mohammadhossein Maazallahi